<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="/styles/login.css" rel="stylesheet" />
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="post">
        <h3>LOGIN</h3>

        <label for="username">Username/Email</label>
        <input type="username" placeholder="username" name="username" />

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" />

        <a href="/home"><button type="submit">Login</button>
        </div>
    </form>
</body>

</html>