<!DOCTYPE html>
<html lang="en">

<head>
    <title>Play Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Play Traditional Game">
    <meta name="description" content="Binar Challenge Chapter 4 Yoga">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link href="/styles/permainan.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid mt-3">

        <div class="row align-items-center">

            <div class="col-1 fs-1 fw-bolder text-end custom-back-button">
                <a href="/menu" class="text-reset text-decoration-none">
                    &lt;
                </a>
            </div>

            <div class="col-1 text-center">
                <img src="/assets/logo.png" class="custom-logo" alt="logo" />
            </div>

            <div class="col fs-2 fw-bold custom-game-title">
                ROCK PAPER SCISSOR
            </div>

        </div>
    </div>

    <div class="container text-center custom-game-section">

        <div class="row my-3 justify-content-center align-items-center">

            <div class="col-2 fs-4 fw-bold custom-game-player-name">
                PLAYER 1
            </div>

            <div class="col-2">
            </div>

            <div class="col-2 fs-4 fw-bold custom-game-player-name">
                COM
            </div>

        </div>

        <div class="row my-5 justify-content-center align-items-center">

            <div class="col-2 custom-choice-background align-items-center" id="player-rock">
                <img class="custom-choice" src="/assets/batu.png" alt="player-rock" />
            </div>

            <div class="col-2">
            </div>

            <div class="col-2 custom-choice-background" id="com-rock">
                <img class="custom-choice" src="/assets/batu.png" alt="com-rock" />
            </div>

        </div>

        <div class="row my-5 justify-content-center align-items-center">

            <div class="col-2 custom-choice-background" id="player-paper">
                <img class="custom-choice" src="/assets/kertas.png" alt="player-paper" />
            </div>

            <div class="col-2 mx-2 fw-bold custom-vs-background custom-vs-text" id="vs">
                VS
            </div>

            <div class="col-2 custom-choice-background" id="com-paper">
                <img class="custom-choice" src="/assets/kertas.png" alt="com-paper" />
            </div>

        </div>

        <div class="row my-5 justify-content-center align-items-center">

            <div class="col-2 custom-choice-background" id="player-scissor">
                <img class="custom-choice" src="/assets/gunting.png" alt="player-scissor" />
            </div>

            <div class="col-2">
            </div>

            <div class="col-2 custom-choice-background" id="com-scissor">
                <img class="custom-choice" src="/assets/gunting.png" alt="com-scissor" />
            </div>

        </div>

        <div class="row my-5 justify-content-center align-items-center">

            <div class="col-2">
            </div>

            <div class="col-2" id="reset">
                <img class="custom-choice" src="/assets/refresh.png" alt="refresh" />
            </div>

            <div class="col-2">
            </div>

        </div>

    </div>
    </div>
    <script src="/script/permainan.js"></script>
</body>

</html>